mainColor = #123456


.foo-bar
  color mainColor
  background darken(mainColor, 10%)
  font-size 18px
  line-height 1.5
  border-radius 5px
  
.item
  width 150px
  height 200px
  background green
    